@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);
@import "null.scss";
@import "mixins.scss";
@import "fonts.scss";

$minwidth: 350px;
$mw: 950;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

body {
	color: black;
	font-size: 14px;
	&.lock {
		overflow: hidden;
		@media (max-width: $md3+px) {
			// width: 100%;
			// position: fixed;
			// overflow: hidden;
		}
	}
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}

._container {
	max-width: $mw + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

.header {
	background-color: #1c242a;
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		height: 75px;
	}

	&__logo {
	}

	&__menu {
	}

	&__actions {
	}
}

.menu {
	padding: 0px 0px 0px 30px/950px * 100%;
	flex: 1 1 auto;
	&__icon {
	}

	&__body {
	}

	&__list {
		display: flex;
		justify-content: center;
		li {
			margin: 0 15px;
		}
	}

	&__link {
		font-family: "PFDin";
		letter-spacing: 1.4px;
		color: white;
		text-transform: uppercase;
		@media (min-width: 992px) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.icon-menu {
	display: none;
	position: absolute;
	top: 18px;
	right: 10px;
	width: 30px;
	height: 18px;
	cursor: pointer;
}
.actions-header {
	display: flex;
	align-items: center;
	&__user {
		margin: 0px 0px 0px 30px;
	}
	&__region {
		@extend .menu__link;
		padding: 0px 0px 0px 30px;
		line-height: 18px;
		background: url("../images/icons/globe.png") left no-repeat;
	}
}
.user-header {
	&__icon {
		cursor: pointer;
	}

	&__menu {
		opacity: 0;
		visibility: hidden;
		top: 70px;
		right: 0px;
		position: absolute;
		background-color: #1c242a;
		padding: 20px;
		li {
			margin: 0px 0px 8px 0px;
			&:last-child {
				margin: 0px;
			}
		}
		&._active {
			opacity: 1;
			visibility: visible;
		}
	}

	&__link {
		color: white;
		padding: 0px 0px 0px 30px;
		display: inline-block;
		line-height: 18px;
		&_1 {
			background: url("../images/icons/1.png") 1px center no-repeat;
		}

		&_2 {
			background: url("../images/icons/2.png") left center no-repeat;
		}

		&_3 {
			background: url("../images/icons/3.png") 4px center no-repeat;
		}

		&_4 {
			background: url("../images/icons/4.png") left center no-repeat;
		}
		@media (min-width: 992px) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
